ray==2.40.0
scikit-learn==1.6.0
dask==2023.5.0
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3
torch-spline-conv==1.2.2
pandas==2.2.3
tqdm==4.67.1
sentence-transformers==3.4.1